{% extends "_templates/layout.twig" %}

{% block content %}
	
	<b>Current Life Statistic</b>
	{#<li>Distance on Foot: {{ lStat.Distance|round(1, 'common') }}km</li> #}

	<div class="row">

		<div class="col-md-6">

			<div class="media">

				<span class="media-left media-middle">

					<img class="img-circle img-thumbnail" src="{{ constant('BASE_URL') }}public/img/icons/zombie_kill.png" width="64" height="64">

				</span>
				<div class="media-body">

					<h4 class="media-heading">Zombie Kills</h4>
					{{ zStat.Kills }}

				</div>

			</div>

			<div class="media">

				<span class="media-left media-middle">

					<img class="img-circle img-thumbnail" src="{{ constant('BASE_URL') }}public/img/icons/zombie_headshot.png" width="64" height="64">

				</span>
				<div class="media-body">

					<h4 class="media-heading">Headshots</h4>
					{{ zStat.Headshots }}

				</div>

			</div>

			<div class="media">

				<span class="media-left media-middle">

					<img class="img-circle img-thumbnail" src="{{ constant('BASE_URL') }}public/img/icons/player_humanity.png" width="64" height="64">

				</span>
				<div class="media-body">

					<h4 class="media-heading">Humanity</h4>
					{{ hStat }}

				</div>

			</div>

			<div class="media">

				<span class="media-left media-middle">

					<img class="img-circle img-thumbnail" src="{{ constant('BASE_URL') }}public/img/icons/player_time.png" width="64" height="64">

				</span>
				<div class="media-body">

					<h4 class="media-heading">LifeSpan</h4>
					{{ lStat.Duration|round(1, 'common') }} hours

				</div>

			</div>

		</div>
		<div class="col-md-6">

			<div class="media">

				<span class="media-left media-middle">

					<img class="img-circle img-thumbnail" src="{{ constant('BASE_URL') }}public/img/icons/player_distance.png" width="64" height="64">

				</span>
				<div class="media-body">

					<h4 class="media-heading">Distance on Foot</h4>
					{{ lStat.Distance|round(1, 'common') }}km

				</div>

			</div>

			<div class="media">

				<span class="media-left media-middle">

					<img class="img-circle img-thumbnail" src="{{ constant('BASE_URL') }}public/img/icons/player_death.png" width="64" height="64">

				</span>
				<div class="media-body">

					<h4 class="media-heading">Deaths</h4>
					{{ lStat.Attempt - 1 }}

				</div>

			</div>

			<div class="media">

				<span class="media-left media-middle">

					<img class="img-circle img-thumbnail" src="{{ constant('BASE_URL') }}public/img/icons/human_kill.png" width="64" height="64">

				</span>
				<div class="media-body">

					<h4 class="media-heading">Suvivors Killed</h4>
					{{ kStat.Suvivors }}

				</div>

			</div>
			
			<div class="media">

				<span class="media-left media-middle">

					<img class="img-circle img-thumbnail" src="{{ constant('BASE_URL') }}public/img/icons/bandit_kill.png" width="64" height="64">

				</span>
				<div class="media-body">

					<h4 class="media-heading">Bandits Killed</h4>
					{{ kStat.Bandits }}

				</div>

			</div>

		</div>
	</div>

	<span class="pull-right">

		<small><em>icon credits: <a href="http://tugodoomer.deviantart.com/art/DayZ-Icons-376070741">Tugodoomer</a>.</em></small>

	</span>

	{# this is basic... to be redesigned once front-end werk is done #}
	
{% endblock %}